@media screen and (max-width: 400px) {
  .nav {
    font-size: 11px;
    text-align: center;
    padding: 16px;
  }

  .footer-column {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 6px;
  }

  .footer-column ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .footer-column a {
    line-height: 16px;
    display: flex;
    justify-content: center;
    background-color: #c5b1aa;
    width: 100%;
    font-size: 6px;
    text-align: center;
  }

  .about_me,
  .contact_me,
  .blog,
  .icons,
  .intensives,
  .reviews,
  .legacy,
  .benefits,
  .social {
    padding: 16px;
  }

  .icons {
    width: 83px;
    height: 75px;
  }

  .benefits_group {
    margin-top: 30px;
  }

  .benefits {
    margin-top: 30px;
  }

  .footer {
    gap: 10px;
    height: 100%;
    padding: 10px;
  }

  .social_inst,
  .social_tg,
  .social_vk {
    width: 15px;
    height: 15px;
    justify-content: center;
  }

  .about_me,
  .intensives,
  .reviews,
  .legal_info,
  .advantages {
    margin-top: 16px;
    gap: 16px;
  }

  .block_intensives {
    row-gap: 16px;
  }

  .group_social {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .personal_trainings {
    margin-bottom: 50px;
  }

  .contact_footer {
    font-size: 6px;
    margin: 16px;
  }
}
