.footer {
  display: flex;
  justify-content: space-around;
  gap: 42px;
  padding: 20px;
  background-color: #c5b1aa;
  flex-wrap: wrap;
  height: 550px;
  color: white;
  padding: 10px;
}

@font-face {
  font-family: "Raleway";
  src: url("../fitness-page/fonts/Raleway-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Cardo";
  src: url("../fitness-page/fonts/Cardo-Bold.ttf");
}
.nav {
  font-family: "Raleway", sans-serif;
  justify-content: center;
  font-size: 36px;
  padding: 50px;
  margin-left: 0px;
  margin-top: 0px;
  background-color: #c5b1aa;
  color: white;
}

.footer-column ul {
  list-style-type: none;
  line-height: 72px;
  padding: 0;
}

.footer-column a {
  color: white;
  font-family: "Raleway", uppercase;
  font-size: 14px;
}

.social {
  display: flex;
  width: 51px;
  height: 51px;
  display: flex;
  gap: 18px;
  margin-bottom: 60px;
  float: left;
}

.social img {
  margin-right: -3px;
}

.about_me {
  margin-top: 110px;
}

.benefits_group {
  margin-top: 110px;
}

.personal_trainings,
.benefits {
  margin-bottom: 16px;
}

.footer {
  display: flex;
  padding: 20px;
  background-color: #c5b1aa;
  flex-wrap: wrap;
  color: white;
  padding: 10px;
}

@font-face {
  font-family: "Raleway";
  src: url("../fitness-page/fonts/Raleway-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Cardo";
  src: url("../fitness-page/fonts/Cardo-Bold.ttf");
}

.nav {
  font-family: "Raleway", sans-serif;
  justify-content: center;
  font-size: 36px;
  padding: 50px;
  margin-left: 0px;
  margin-top: 0px;
  background-color: #c5b1aa;
  color: white;
}

.social_inst,
.social_tg,
.social_vk {
  /* margin-right: 0 0 0 50px; */
}

.contact_footer {
  width: 100%;
  text-align: center;
  margin-top: 100px;
  font-family: "Cardo";
  font-size: 14px;
  letter-spacing: 1px;
}
