/* General Styles */

@font-face {
    font-family: 'Cardo';
    src: url('../fonts/Cardo/cardo-regular-webfont.woff2') format('woff2'),
      url('../fonts/Cardo/cardo-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Cardo';
    src: url('../fonts/Cardo/cardo-bold-webfont.woff2') format('woff2'),
      url('../fonts/Cardo/cardo-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Cardo';
    src: url('../fonts/Cardo/cardo-italic-webfont.woff2') format('woff2'),
      url('../fonts/Cardo/cardo-italic-webfont.woff') format('woff');
    font-weight: 400;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway/Raleway-Thin.woff2') format('woff2'),
      url('../fonts/Raleway/Raleway-Thin.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway/Raleway-Bold.woff2') format('woff2'),
      url('../fonts/Raleway/Raleway-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway/Raleway-ThinItalic.woff2') format('woff2'),
      url('../fonts/Raleway/Raleway-ThinItalic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
  }

.about{
  display: grid;
  height: 970px;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  
}

.about__content{
  display: flex;
  flex-direction: column;
}

.about1{
  position: center;
}

.argument{
  margin: 41px;
}

.block_photo{
  grid-row: inherit;

}