@charset "UTF-8";
/* General Styles */
@font-face {
  font-family: "Cardo";
  src: url("../fonts/Cardo/cardo-regular-webfont.woff2") format("woff2"), url("../fonts/Cardo/cardo-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Cardo";
  src: url("../fonts/Cardo/cardo-bold-webfont.woff2") format("woff2"), url("../fonts/Cardo/cardo-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Cardo";
  src: url("../fonts/Cardo/cardo-italic-webfont.woff2") format("woff2"), url("../fonts/Cardo/cardo-italic-webfont.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/Raleway-Thin.woff2") format("woff2"), url("../fonts/Raleway/Raleway-Thin.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/Raleway-Bold.woff2") format("woff2"), url("../fonts/Raleway/Raleway-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/Raleway-ThinItalic.woff2") format("woff2"), url("../fonts/Raleway/Raleway-ThinItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
/* Переменные */
/* 10px */
/* 15px */
body {
  margin: 0;
  font-family: "Cardo", Arial, sans-serif;
  line-height: 1.6;
}

/* Hero Section */
.hero {
  padding: 2.5rem 1.25rem; /* 40px 20px */
  background-color: #f9f9f9;
}

.hero__content {
  max-width: 75rem; /* 1200px */
  margin: 0 auto;
}

/* About Section */
.about {
  padding: 2.5rem 1.25rem; /* 40px 20px */
  background-color: #f9f9f9;
}

.about__content {
  max-width: 75rem; /* 1200px */
  margin: 0 auto;
}

/* Path Section */
.path {
  padding: 2.5rem 1.25rem; /* 40px 20px */
  background-color: #e6e6e6;
}

.path__content {
  max-width: 75rem; /* 1200px */
  margin: 0 auto;
}

/* Training Section */
.training {
  padding: 2.5rem 1.25rem; /* 40px 20px */
  background-color: #f5f5f5;
}

.training__content {
  max-width: 75rem; /* 1200px */
  margin: 0 auto;
}

/* Advantages Section */
.advantages {
  padding: 2.5rem 1.25rem; /* 40px 20px */
  background-color: #f2f2f2;
}

.advantages__content {
  max-width: 75rem; /* 1200px */
  margin: 0 auto;
}

/* Reviews Section */
.reviews {
  padding: 2.5rem 1.25rem; /* 40px 20px */
  background-color: #eaeaea;
}

.reviews__content {
  max-width: 75rem; /* 1200px */
  margin: 0 auto;
}

/* Base Section */
.base {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  padding: 2.5rem 1.25rem; /* 40px 20px */
}

.base__link {
  color: #333333;
  font-family: "Cardo", Arial, sans-serif;
  font-weight: 1rem; /* 16px */
  text-decoration: none;
}

.base__link:hover {
  color: rgba(51, 51, 51, 0.6431372549);
}

.base__box {
  background-color: white;
  padding: 2.5rem; /* 40px */
}

.base__title {
  font-family: "Cardo", Arial, sans-serif;
  color: #818b7e;
  font-size: 2.1875rem;
  text-align: center; /* 35px */
}

.base__subtitle {
  font-family: "Raleway", serif;
  color: #818b7e;
  font-size: 1.3125rem; /* 21px */
  font-weight: bold;
  text-align: center;
}

.base__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 13.125rem; /* 210px */
  justify-items: center;
  margin-top: 4.4375rem; /* 71px */
}

.base__img {
  max-width: 300px;
  max-height: 300px;
}

.base__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 3.75rem; /* 60px */
}

.base__btn {
  display: inline-block;
  font-family: "Raleway", serif;
  background-color: #818b7e;
  font-family: "Raleway", serif;
  font-size: 1rem; /* 16px */
  font-weight: bold;
  color: #ffffff;
  width: 11.5625rem; /* 185px */
  height: 3rem; /* 48px */
  border: transparent;
  border-radius: 0.625rem;
  cursor: pointer;
}

.base__btn:hover {
  background-color: rgba(129, 139, 126, 0.7411764706);
}

.modal {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow: auto;
}

.modal__close {
  position: absolute;
  top: 0.625rem; /* 10px */
  right: 0.625rem; /* 10px */
  cursor: pointer;
  font-family: "Raleway", serif;
  font-size: 1.875rem; /* 30px */
  border: none;
  color: #ffffff;
  background: transparent;
}

.modal__body1, .modal__body2, .modal__body3 {
  position: relative;
  max-width: 300px;
  height: auto;
  background: #c5b1aa;
  padding: 1.25rem; /* 20px */
  border-radius: 2.5rem; /* 40px */
  margin: auto;
}

.modal__subtitle {
  text-align: center;
  font-family: "Cardo", Arial, sans-serif;
  color: #ffffff;
}

.modal__descr {
  font-family: "Cardo", Arial, sans-serif;
  font-size: 0.875rem; /* 14px */
  color: #ffffff;
}

.base__span {
  font-family: "Raleway", serif;
  font-size: 0.875rem; /* 14px */
  color: #ffffff;
}

.slogan {
  font-family: "Raleway", serif;
  font-size: 1.875rem; /* 30px */
  font-weight: 500;
  color: #cda498;
  margin-top: 11.1875rem; /* 179px */
  text-align: center;
  padding: 1.25rem; /* 20px */
}

/* Медиазапросы */
@media (max-width: 1024px) and (min-width: 769px) {
  .base__cards {
    gap: 1.5625rem; /* 25px */
  }
  .base__img {
    max-width: 200px;
    max-height: 200px;
  }
}
@media (max-width: 768px) {
  .base {
    padding: 1.25rem; /* 20px */
  }
  .base__box {
    padding: 0.9375rem; /* 15px */
  }
  .base__title {
    font-size: 0.875rem; /* 14px */
  }
  .base__subtitle {
    font-size: 0.875rem; /* 14px */
  }
  .base__cards {
    grid-template-columns: 1fr;
    gap: 2.1875rem; /* 35px */
    margin-top: 1.875rem; /* 30px */
  }
  .base__card {
    gap: 1.25rem; /* 20px */
  }
  .base__img {
    max-width: 115px;
    max-height: 115px;
  }
  .base__btn {
    width: 7.5rem; /* 120px */
    height: 2.25rem; /* 36px */
    font-size: 0.875rem; /* 14px */
  }
  .modal__body1, .modal__body2, .modal__body3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
    padding: 1.125rem; /* 18px */
  }
  .modal__subtitle {
    font-size: 0.875rem; /* 14px */
  }
  .modal__descr {
    font-size: 0.6875rem; /* 12px */
    text-align: center;
  }
  .base__link {
    font-size: 0.6875rem; /* 12px */
  }
  .base__span {
    font-size: 0.6875rem; /* 12px */
    margin-top: 0.5rem; /* 8px */
  }
  .modal__close {
    font-size: 1.875rem; /* 30px */
  }
  .slogan {
    font-size: 0.75rem; /* 12px */
    margin-top: 2rem; /* 32px */
  }
}
/* Footer Section */
.footer {
  padding: 2.5rem 1.25rem; /* 40px 20px */
  background-color: #333333;
  color: #ffffff;
}

.footer__content {
  max-width: 75rem; /* 1200px */
  margin: 0 auto;
}/*# sourceMappingURL=main.css.map */